<p>
  <strong>Name</strong>
  <%= @team.name %>
</p>
<p>
  <strong>First User</strong>
  <%= @team.users[0].full_name if @team.users && @team.users[0] %>
</p>
<p>
  <strong>Second User</strong>
  <%= @team.users[1].full_name if @team.users && @team.users[1] %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
