<table class="table table-striped">
  <tbody>
    <tr>
      <td><strong>Match</strong></td>
      <td><%= "#{@match.team_one.name} vs #{@match.team_two.name}" %></td>
    </tr>
    <tr>
      <td><strong>Winner</strong></td>
      <td><%= @match.winning_team.name if @match.winning_team %></td>
    </tr>
    <tr>
      <td><strong>Score</strong></td>
      <td>
        <% @match.games.each do |game| %>
          <%= "#{game.team_one_score} : #{game.team_two_score}"  %>
          <br/>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
